<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dut.moneytracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MoneyTrackerApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_wallet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- List activity -->
        <activity
            android:name=".ui.user.LoginActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.charts.category.ActivityExchangesCategory_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.debit.ActivityExchangeDebits_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.debit.ActivityDetailDebit_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.debit.ActivityAddDebit_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.ActivityAccounts_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.ActivityAddNewAccount_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.exchanges.ActivityAddMoreExchange_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.ActivityDetailAccount_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.exchanges.ActivityDetailExchange_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.UserActivity_"
            android:label="User"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.exchangeloop.ActivityAddLoopExchange_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.exchangeloop.ActivityDetailLoopExchange_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityLoadData_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.category.ActivityPickCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity_"
            android:screenOrientation="portrait" />
        <!-- End List -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".ui.exchanges.ActivityAddExchange_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.ReceiveAlarmDebit" />

        <receiver android:name=".service.ReceivePending" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>